$breakpoint-up-sm: "576px";
$breakpoint-up-md: "768px";
$breakpoint-up-lg: "992px";
$breakpoint-up-xl: "1200";

$breakpoint-dow-xs: "575.98";
$breakpoint-dow-sm: "767.98";
$breakpoint-dow-md: "991.98";
$breakpoint-dow-lg: "1999.98";
